@using DeadlineManagmentSystem.Models

@{

    List<SelectListItem> branch = ViewBag.Branch;
    List<SelectListItem> fileCategory = ViewBag.FileCategory;
    List<SelectListItem> department = ViewBag.Department;
    List<SelectListItem> fileType = ViewBag.FileType;
    //    List<SelectListItem> branch = ViewBag.Branch;
    //List<SelectListItem> fileCategory = ViewBag.FileCategory; 
}

@model FileUploadedEditModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Horizontal Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Files To be Upload</h3>
                    </div>
                    <div class="card-body">
                        <p>File form in order to upload file</p>
                        @using (Html.BeginForm("edit", "Display", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {

                            @Html.HiddenFor(a => a.fileUploadedId)
                            @*<div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Email</label>
                                    <div class="col-sm-9">
                                        <input id="inputHorizontalSuccess" type="email" placeholder="Email Address" class="form-control form-control-success"><small class="form-text">Example help text that remains unchanged.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Password</label>
                                    <div class="col-sm-9">
                                        <input id="inputHorizontalWarning" type="password" placeholder="Pasword" class="form-control form-control-warning"><small class="form-text">Example help text that remains unchanged.</small>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">File Type</label>
                                <div class="col-sm-9 select">
                                    @Html.DropDownListFor(x => x.FileCategoryId, fileCategory, "- Select File Type -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FileCategoryId, "", new { @class = "form-text" })
                                    @*@Html.ValidationMessageFor(x => x.Company, "", new { @class = "form-text" })*@
                                    @*<small class="form-text">Selection is must in order to save form</small>*@
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">File Type</label>
                                <div class="col-sm-9 select" id="filetype">
                                    @Html.DropDownListFor(x => x.FileTypeId, fileType, "- Select File Type -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.FileTypeId, "", new { @class = "form-text" })
                                    @*@Html.ValidationMessageFor(x => x.Company, "", new { @class = "form-text" })*@
                                    @*<small class="form-text">Selection is must in order to save form</small>*@
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">BRANCH</label>
                                <div class="col-sm-9 select">
                                    @Html.DropDownListFor(x => x.BranchId, branch, "- Select Branch -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.BranchId, "", new { @class = "form-text" })
                                    @*@Html.ValidationMessageFor(x => x.Company, "", new { @class = "form-text" })*@
                                    @*<small class="form-text">Selection is must in order to save form</small>*@
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">DEPART</label>
                                <div class="col-sm-9 select" id="department">
                                    @Html.DropDownListFor(x => x.DepartmentId, department, "- Select Branch -", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "form-text" })

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">UPLOAD FILE</label>
                                <input type="file" name="fileUpload" multiple />
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-9 offset-sm-3">
                                    <input type="submit" value="UploadFile" class="btn btn-primary">
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>


            @*<div id="calltogrid" >


                </div>*@
        </div>

    </div>
</section>

@section myScript{
    <script type="text/javascript">
    $(function () {
        $.ajax(
                    {

                           url: "/UploadFile/FileGrid/",
                           type: "get"
                       }
                   ).done(function (result2) {
                       $("#calltogrid").html(result2);
                   });
        //code to show create produc  t form
        //$("#Company").click(function (event) {
        //    event.preventDefault();
        //});
        //    $("#myModal").modal('show');
        //});
        //$("#createproduct").click(function (event) {
        //    event.preventDefault();
        //    $.ajax(
        //        {
        //            url: "/Product/index/",
        //            type: "get"
        //        }
        //    ).done(function (result) {
        //        //$("#dialogtitle").text("Add New Product");
        //        $("#gridbody").html(result);
        //        //$("#dialogsec").modal();

        //    });

        $("#Branch").change(function () {
            var selectedID = $(this).val();
            //var cid = $("#Company").select("option:selected").val();
            //alert(cid);
            //alert("hellooo");
            $.ajax(
                {

                    url: "/UploadFile/Department/" + selectedID,
                    type: "get"
                }
            ).done(function (result2) {
                $("#department").html(result2);
            });
        });


        $("#FileCategoryId").change(function () {
            var selectedID = $(this).val();
            //var cid = $("#Company").select("option:selected").val();
            //alert(cid);
            //alert("hellooo");
            $.ajax(
                {

                    url: "/UploadFile/FileType/" + selectedID,
                    type: "get"
                }
            ).done(function (result2) {
                $("#filetype").html(result2);
            });
        });
        //$("#branch").change(function () {
        //        alert("Thanks to GOD");
        //        var selectedID = $("#branch").val();
        //        alert(selectedID);
        //        $.ajax(
        //            {
        //                url: "/UploadFile/Department/" + cid,
        //                type: "get"
        //            }
        //        ).done(function (result2) {
        //            $("#branch").html(result2);
        //        }).error(function () {
        //            alert("heloo");
        //        });
        //    });


        });
    </script>
}